*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-Items: "stretch"; 
    width: "100%";
    margin: 0 auto;
    max-width: 1250px;
    box-sizing: border-box;
}

.app{
    background: #f0f6fe;
    padding: 30px 0;
    width: 100%;
}