*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 90px;
    justify-content: center;
    
}

.app{
    background: #f0f6fe;
    padding: 30px 0;
    width: 100%;
}