.custom-heading {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.heading-icon {
    display: flex;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #f0f0f0;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background: #0f172a;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.custom-dot-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}