.custom-heading {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.heading-icon {
    display: flex;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #f0f0f0;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background: #0f172a;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.custom-dot-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    background: #e8edf4;
    border-radius: 12px;
    box-sizing: border-box;
}

.tab-item {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    flex: 1;
    white-space: nowrap; /* Prevent text wrapping */
    box-sizing: border-box;
    color: #64758b;
}

.tab-item.active {
    background-color: #ffffff;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.2);
}

.tab-icon {
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.tab-content {
    background: #fefefe;
    box-shadow: 0px 15px 26px 5px rgba(0, 0, 0, 0.2);
    margin: 0 10px 20px;
    border-radius: 10px;
    padding: 10px;
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-Align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.upload-button {
    margin:30px 0;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
}
